<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_setaman_round"
        android:label=""
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Florist"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".views.homepage.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".views.homepage.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".views.chat.InboxActivity"
            android:exported="false" />
        <activity
            android:name=".views.chat.ChatRoomActivity"
            android:exported="false" />
        <activity
            android:name=".views.buyer.AddReviewActivity"
            android:exported="false" />
        <activity
            android:name=".views.buyer.BuyerOrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".views.seller.RentalDetailActivity"
            android:exported="false" />
        <activity
            android:name=".views.seller.SellerComplaintListActivity"
            android:exported="false" />
        <activity
            android:name=".views.seller.MaintenanceScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".views.homepage.ShopProfileActivity"
            android:exported="false" />
        <activity
            android:name=".views.seller.SellerOrderActivity"
            android:exported="false" />
        <activity
            android:name=".views.buyer.MyOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".views.buyer.AddressSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".views.buyer.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".views.buyer.CartActivity"
            android:exported="false" />
        <activity
            android:name=".views.buyer.BuyerDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.seller.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".views.seller.EditProductActivity"
            android:exported="false"
            android:theme="@style/Theme.Florist" />
        <activity
            android:name=".views.seller.MyProductActivity"
            android:exported="false" />
        <activity
            android:name=".views.seller.addproduct.ProductPublishedActivity"
            android:exported="false" />
        <activity
            android:name=".utils.DurationBottomSheetFragment"
            android:exported="false" />
        <activity
            android:name=".views.seller.addproduct.SelectCategoryActivity"
            android:exported="false" />
        <activity android:name=".views.seller.addproduct.MediaPreviewActivity" />
        <activity
            android:name=".views.seller.addproduct.AddProductActivity"
            android:exported="true" />
        <activity
            android:name=".views.seller.OwnerDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".views.seller.createshop.CreateShopSuccess"
            android:exported="true" />
        <activity
            android:name=".views.seller.createshop.MapsActivity"
            android:exported="true" />
        <activity
            android:name=".views.seller.createshop.ShopAddressActivity"
            android:exported="true">
            <meta-data
                android:name="com.mapbox.maps.location.gms.SKIP_IF_INVALID_VERSION"
                android:value="true" />
        </activity>
        <activity
            android:name=".views.seller.createshop.ShopGeneralInfoActivity"
            android:exported="true" />
        <activity
            android:name=".views.seller.createshop.ShopIntroActivity"
            android:exported="true" />
        <activity
            android:name=".views.RegisterSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".views.homepage.HomepageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="https://setaman.page.link/flr"
                    android:scheme="http" />
                <data
                    android:host="https://setaman.page.link/flr"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.reset_password.NewPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".views.reset_password.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".views.RegisterVerificationActivity"
            android:exported="true" />
        <activity
            android:name=".views.RegisterSelectVerificationActivity"
            android:exported="true" />
        <activity
            android:name=".views.RegisterPhoneActivity"
            android:exported="true" />
        <activity
            android:name=".views.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".views.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".views.splashscreen.OnboardingActivity"
            android:exported="true" />
        <activity
            android:name=".views.splashscreen.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>